<div class="chat-module-messages d-flex flex-column mb-4 <%= message.role == "user" ? "align-items-end" : "align-items-start" %>">
    <span><%= message.role == "user" ? "Vous" : message.role %></span>
    <p class="<%= message.role == "user" ? "light" : ""%>">
      <%= raw(markdown(message.content)) %>
    </p>
  </div>
