<% @interviews ||= [] %>
<div class="interviews-index">
  <div class="interviews-header">
    <div>
      <h1>Mes entretiens</h1>
      <p class="interviews-subtitle">
        <%= pluralize(@interviews.count, "poste suivi", "postes suivis") %>
      </p>
    </div>
    <%= link_to new_interview_path, class: "btn-primary" do %>
      <span>+</span> Nouvel entretien
    <% end %>
  </div>

  <div class="interviews-list">
    <%= render partial: "interviews/interview_card", collection: @interviews, as: :interview %>
  </div>
</div>
