
<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Bienvenue.</h3>
          <p class="card-text">Prépare tes entretiens avec un coach IA. Décris ton poste, lance une simulation, reçois un feedback structuré.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <%= render 'shared/login_box' %>
    </div>
  </div>
</div>
