
<div class="coontainer"></div>
<h1>Bienvenue</h1>

<div class="row">
	<div class="col-12 col-md-8">
		<p>Contenu principal de la page d'accueil.</p>
	</div>

	<div class="col-12 col-md-4">
		<%= render 'shared/login_box' %>
	</div>
</div>
