// Graphical variables
@import "variables";
@import "config/fonts";
@import "config/colors";
@import "config/utilities";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "modal";

html, body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
